{% extends 'supuser/base.html' %}

{% load static %}
{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupon Management</h2>
        </div>
        
      
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="{% url 'add_coupon' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="id_discount" class="form-label">Discount</label>
                            <input type="number" placeholder="Type here" class="form-control" id="id_discount" name="discount" />
                        </div>
                        <div class="mb-4">
                            <label for="id_min_amount" class="form-label">Minimum Amount</label>
                            <input type="number" placeholder="Type here" class="form-control" id="id_min_amount" name="min_amount" />
                        </div>
                        <div class="mb-4">
                            <label for="id_active_date" class="form-label">Active Date</label>
                            <input type="date" class="form-control" id="id_active_date" name="active_date" />
                        </div>
                        <div class="mb-4">
                            <label for="id_expiry_date" class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="id_expiry_date" name="expiry_date" />
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Create coupon</button>
                        </div>
                    </form> 
                </div>
                
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th >Id</th>
                                    <th>Code</th>
                                    <th>Discount</th>
                                    <th>Active Date</th>
                                    <th >Expiry Date</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for coupon in coupon %}
                                <tr>
                                    <td >{{coupon.id}}
                                    </td>
                                    <td>{{coupon.code}}</td>
                                    <td>{{coupon.discount}}%</td>
                                    <td>{{coupon.active_date}}</td>
                                    <td>{{coupon.expiry_date}}</td>
                                    <td >
                                        {% if coupon.active%}
                                            <form action="{% url 'desable' coupon.id %}" method="post" class="d-inline">{% csrf_token %}
                                            <td><button class="btn btn-primary block-user" data-user-id=""
                                                    data-action="block">Active</button></td>
                                            </form>
                                        {% else %}
                                            <form action="{% url 'active' coupon.id %}" method="post" class="d-inline">{% csrf_token %}
                                            <td><button class="btn btn-danger block-user" data-user-id=""
                                                        data-action="unblock">Desable</button></td>
                                            </form>
                                        {% endif %}<!-- dropdown //end -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>
{% endblock %}