{% extends 'supuser/base.html' %}

{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token%}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_name">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Regular price</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Promotional price</label>
                                    <input placeholder="$" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label">Currency</label>
                                <select class="form-select">
                                    <option> USD </option>
                                    <option> EUR </option>
                                    <option> RUBL </option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Tax rate</label>
                            <input type="text" placeholder="%" class="form-control" id="product_name">
                        </div>
                        <div class="row gx-2">
                            <div class="col-sm-12 mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select">
                                    <option> Automobiles </option>
                                    <option> Home items </option>
                                    <option> Electronics </option>
                                    <option> Smartphones </option>
                                    <option> Sport items </option>
                                    <option> Baby and Tous </option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Tags</label>
                                <input type="text" class="form-control">
                            </div>
                        </div> <!-- row.// -->

                        <label class="form-label">Media</label>
                    
                        <div class="input-upload">
                            <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="">
                            <input class="form-control" type="file">
                        </div>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </form>
                </div>
                
            </div> <!-- card end// -->
        </div>
    </div>
</section> <!-- content-main end// -->
{% endblock %}