{% extends 'supuser/base.html' %}

{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <h1> {{products.id}}</h1>
                
                <div class="card-body">
                  
                    <form action="{% url 'edit_product' products.id %}" method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Save</button>
                        </div>
                    </form>
                </div>
                
            </div> <!-- card end// -->
        </div>
    </div>
</section> <!-- content-main end// -->
{% endblock %}