{% extends 'supuser/base.html' %}

{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
                
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
              
                
                <div class="card-body">
                  
                    <form action="{% url 'edit_category' categories.id %}" method="post"enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Create category</button>
                        </div>
                    </form> 
                </div>
                
            </div> <!-- card end// -->
        </div>
    </div>
</section> <!-- content-main end// -->
{% endblock %}