{% extends 'supuser/base.html' %}

{% load static %}
{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">User Details </h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    
    </div>
    <div class="card mb-4">
  <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date & Time</th>
                            <th>Block/Unblock</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.first_name}}{{user.last_name}} </td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone_number}}</td>
                            <td>{{user.last_login}}</td>
                            {% if user.is_active%}
                            <form action="{% url 'block_user' user.id %}" method="post" class="d-inline">{% csrf_token %}
                            <td><button class="btn btn-danger block-user" data-user-id=""
                                    data-action="block">Block</button></td>
                            </form>
                            {% else %}
                            <form action="{% url 'unblock_user' user.id %}" method="post" class="d-inline">{% csrf_token %}
                            <td><button class="btn btn-primary block-user" data-user-id=""
                                        data-action="unblock">Unblock</button></td>
                            </form>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->

</section>

{% endblock %}