{% extends 'base.html' %}

{% load static %}

{% block content%}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>
   

<!-- Add Address Modal -->
    <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {% if not address_id %}
                <form id="addAddressForm" action="{% url 'edit_address' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="first_name" class="form-control my-2" placeholder="First Name" required>
                    <input type="text" name="last_name" class="form-control my-2" placeholder="Last Name" required>
                    <input type="text" name="email" class="form-control my-2" placeholder="Email address *" required>
                    <input type="text" name="phone" class="form-control my-2" placeholder="Phone Number *" required>
                    <input type="text" name="address_line_1" class="form-control my-2" placeholder="House No & Locality *" required>
                    <input type="text" name="address_line_2" class="form-control my-2" placeholder="House No & Locality2 *" required>
                    <input type="text" name="city" class="form-control my-2" placeholder="City*" required>
                    <input type="text" name="state" class="form-control my-2" placeholder="State*" required>
                    <input type="text" name="country" class="form-control my-2" placeholder="Country*" required>
                    <input type="text" name="pincode" class="form-control my-2" placeholder="Pincode *" required>
                
                    <button type="submit" class="btn btn-primary">Add Address</button>
                </form>
                {% else %}
                <form id="addAddressForm" action="{% url 'add_address' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="first_name" class="form-control my-2" placeholder="First Name" required>
                    <input type="text" name="last_name" class="form-control my-2" placeholder="Last Name" required>
                    <input type="text" name="email" class="form-control my-2" placeholder="Email address *" required>
                    <input type="text" name="phone" class="form-control my-2" placeholder="Phone Number *" required>
                    <input type="text" name="address_line_1" class="form-control my-2" placeholder="House No & Locality *" required>
                    <input type="text" name="address_line_2" class="form-control my-2" placeholder="House No & Locality2 *" required>
                    <input type="text" name="city" class="form-control my-2" placeholder="City*" required>
                    <input type="text" name="state" class="form-control my-2" placeholder="State*" required>
                    <input type="text" name="country" class="form-control my-2" placeholder="Country*" required>
                    <input type="text" name="pincode" class="form-control my-2" placeholder="Pincode *" required>
                    <button type="submit" class="btn btn-primary">Add Address</button>
                </form>
                {% endif %}
          
            
            </div>
        </div>
        </div>
    </div>
  
<!-- Edit Address Modal -->
    <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% comment %} <div class="modal-body">
            <form id="editAddressForm" action="{% url 'edit_address' address.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="first_name" class="form-control my-2" placeholder="First Name" required>
                <input type="text" name="last_name" class="form-control my-2" placeholder="Last Name" required>
                <input type="text" name="email" class="form-control my-2" placeholder="Email address *" required>
                <input type="text" name="phone" class="form-control my-2" placeholder="Phone Number *" required>
                <input type="text" name="address_line_1" class="form-control my-2" placeholder="House No & Locality *" required>
                <input type="text" name="address_line_2" class="form-control my-2" placeholder="House No & Locality2 *" required>
                <input type="text" name="city" class="form-control my-2" placeholder="City*" required>
                <input type="text" name="state" class="form-control my-2" placeholder="State*" required>
                <input type="text" name="country" class="form-control my-2" placeholder="Country*" required>
                <input type="text" name="pincode" class="form-control my-2" placeholder="Pincode *" required>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            </div> {% endcomment %}
        </div>
        </div>
    </div>
  
 
  
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Order list</a>
                                    </li>
                                    {% comment %} <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                    </li> {% endcomment %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Hello {{ user.first_name }} </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                {% if orders %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th></th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for order in orders %}
                                                        <tr>
                                                            <td>{{ order.order_number }}</td>
                                                            <td></td>
                                                            <td>{{ order.created_at }}</td>
                                                            <td>{{ order.status }}</td>
                                                            <td>₹{{ order.order_total }}</td>
                                                            <td><a href="{% url 'order_detail' order.order_number %}" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div style="display: flex; justify-content: center; align-items: center;">
                                        <div>
                                            <h3>Start Purchasing....</h3>
                                            <button class="btn btn-fill-out submit" type="submit" onclick="window.location.href='{% url 'store' %}'">Shop</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% comment %} <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Orders tracking</h5>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Order ID</label>
                                                            <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Billing email</label>
                                                            <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">Track</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    {% if not addresses %}
                                        <!-- Add this button inside the 'address' tab pane -->
                                        <button class="btn" id="add-address-btn" data-bs-toggle="modal" data-bs-target="#addAddressModal">
                                            <i class="fi-rs-box-alt mr-10"></i> Add New Address
                                        </button>
                                    {% else %}
                                    <div class="row">
                                        {% for address  in addresses %}
                                        <div class="col-lg-6">
                                           
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Billing Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>{{address.first_name}}{{address.last_name}}
                                                        <br>{{address.addressline}},
                                                        <br> {{address.city}}, 
                                                        <br>{{address.state}},{{address.country}} 
                                                        <br>{{address.pincode}}
                                                    </address>
                                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#addAddressModal">
                                                     Edit
                                                    </button>
                                                    
                                                </div>
                                            </div>
                                            
                                            
                                            {% comment %} <a href="{% url 'address' %}}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Add New Address</a> {% endcomment %}
                                        </div>
                                        {% endfor %}
                                        <button class="btn" id="add-address-btn" data-bs-toggle="modal" data-bs-target="#addAddressModal">
                                            <i class="fi-rs-box-alt mr-10"></i> Add New Address
                                        </button>
                                        {% comment %} <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Shipping Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>4299 Express Lane<br>
                                                        Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                    <p>Sarasota</p>
                                                    <a href="#" class="btn-small">Edit</a>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                        
                                    </div>
                                    {% endif %}
                                    
                                </div>
                                
                               <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <h5 class="mb-0">Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <address>{{user.first_name}} {{user.last_name}}<br> {{user.email}}<br> {{user.phone_number}}</address>
                                                <a href="#" class="btn-small">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Shipping Address</h5>
                                            </div>
                                            <div class="card-body">
                                                <address>4299 Express Lane<br>
                                                    Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                <p>Sarasota</p>
                                                <a href="#" class="btn-small">Edit</a>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                
                                    {% comment %} <div class="card">
                                        <div class="card-header">
                                            <h5>Account Details</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>Already have an account? <a href="page-login-register.html">Log in instead!</a></p>
                                            <form method="post" name="enq">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>First Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="name" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Last Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="phone">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Display Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="dname" type="text">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Email Address <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="email" type="email">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Current Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="password" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>New Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="npassword" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Confirm Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square" name="cpassword" type="password">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Get the CSRF token from the cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    
        // Listen for form submission
        document.getElementById('addAddressForm').addEventListener('submit',function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();
    
            // Get the form data
            var formData = new FormData(this);

                // Retrieve the form field values
            var firstName = document.querySelector('input[name="first_name"]').value;
            var lastName = document.querySelector('input[name="last_name"]').value;
            var email = document.querySelector('input[name="email"]').value;
            var phone = document.querySelector('input[name="phone"]').value;
            var address1 = document.querySelector('input[name="address_line_1"]').value;
            var address2 = document.querySelector('input[name="address_line_2"]').value;
            var city = document.querySelector('input[name="city"]').value;
            var state = document.querySelector('input[name="state"]').value;
            var country = document.querySelector('input[name="country"]').value;
            var pincode = document.querySelector('input[name="pincode"]').value;

             // Check if the form data has an address ID (for editing an existing address)
            var addressId = formData.get('address_id');
            console.log(addressId)

                // Determine the appropriate URL based on whether it's an add or edit operation
        var url = '{% url "add_address" %}';
        if (addressId) {
            {% comment %} url = '{% url "edit_address" %}' + addressId + '/'; {% endcomment %}
        }
            // Send an AJAX request to the server
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({
                    first_name:firstName,
                    last_name:lastName,
                    email,
                    address_line_1:address1,
                    address_line_2:address2,
                    phone:phone,
                    country,
                    state,
                    city,
                    pincode,
                }),
            })
            .then(function(response) {
                if (response.ok) {
                    // Form submission successful
                    // Handle the response as needed
                    console.log('Address added successfully.');
                    window.location.href='/profile'
                    // Reload or update the page if necessary
                } else {
                    // Form submission failed
                    // Handle the response or display an error message
                    console.error('Failed to add address.');
                }
            })
            .catch(function(error) {
                console.error('An error occurred:', error);
            });
    
            // Submit the form
        });
    </script>
    

</main>


{% endblock %}