{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-sm-15">
                    <div class="toggle_info">
                        <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                    </div>
                    <div class="panel-collapse collapse login_form" id="loginform">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                            <form method="post">
                                <!-- Login form fields -->
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="Username Or Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                            <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                        </div>
                                    </div>
                                    <a href="#">Forgot password?</a>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-md" name="login">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                    </div>
                    <div class="panel-collapse collapse coupon_form " id="coupon">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                            <form method="post">
                                <!-- Coupon form fields -->
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="coupon_code" placeholder="Enter Coupon Code...">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-md" name="apply_coupon">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <form action="{% url 'place_order' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <!-- Billing details form fields -->
                        <div class="form-group">
                            <input type="text" required name="first_name" placeholder="First name *">
                        </div>
                        <div class="form-group">
                            <input type="text" required name="last_name" placeholder="Last name *">
                        </div>
                        <div class="form-group">
                            <input type="text" required name="address_line_1" placeholder="Address *">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address_line_2" placeholder="Address line2">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="city" placeholder="City / Town *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="state" placeholder="State  *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="country" placeholder="Country  *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="pincode" placeholder="Postcode / ZIP *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="phone_number" placeholder="Phone *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="email" placeholder="Email address *">
                        </div>
                        <div class="form-group mb-30">
                            <textarea rows="5" name="order_notes" placeholder="Order notes"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{ cart_item.product.image.url}}" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html">{{ cart_item.product.product_name}}</a></h5>
                                                <span class="product-qty">{{ cart_item.quantity }}</span>
                                            </td>
                                            <td>₹{{ cart_item.product.price}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">₹{{total}}</td>
                                        </tr>
                                        <tr>
                                            <th>Tax</th>
                                            <td colspan="2"><em>₹{{tax}}</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹{{grand_total}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body">
                                <div class="mb-4">
                                  <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" checked="" name="mycategory" type="radio" />
                                    <span class="form-check-label">Cash on delivery</span>
                                  </label>
                                </div>
                                <div class="mb-4">
                                  <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" name="mycategory" type="radio" />
                                    <span class="form-check-label">PayPal</span>
                                  </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-md" type="submit">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
