{% extends 'base.html' %}

{% load static %}

{% block content %}
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row mb-50">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">Payment Details</h5>
                </div>
                <div class="card-body contact-from-area">
                  <div class="row">
                    <div class="col-lg-12">
                      <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                        <div class="input-style mb-20">
                          <label>Billing Address</label>
                          <div class="card-body">
                            <p>{{ order.first_name }} {{ order.last_name }}</p>
                            <p>{{ order.full_address }}</p>
                            <p>{{ order.city }},{{ order.state }}</p>
                            <p>{{ order.county }}</p>
                            <p>{{ order.email }}</p>
                            <p>{{ order.phone_number }}</p>
                            <a href="#" class="btn-small">Edit</a>
                          </div>
                        </div>
                        <div class="input-style mb-20">
                          <label>Payment Method</label>
                          <div class="card-body">
                            <div class="mb-4">
                              <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                <input class="form-check-input" checked="" name="mycategory" type="radio" />
                                <span class="form-check-label">Cash on delivery</span>
                              </label>
                            </div>
                            <div class="mb-4">
                              <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                <input class="form-check-input" name="mycategory" type="radio" />
                                <span class="form-check-label">PayPal</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="border p-md-4 p-30 border-radius cart-totals">
                <div class="heading_s1 mb-3">
                  <h4>Cart Totals</h4>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="cart_total_label">Cart Subtotal</td>
                        <td class="cart_total_amount">
                          <span class="font-lg fw-900 text-brand">₹{{ total }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Tax</td>
                        <td class="cart_total_amount">
                          <span class="font-lg fw-900 text-brand">₹{{ tax }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Total</td>
                        <td class="cart_total_amount">
                          <strong><span class="font-xl fw-900 text-brand">₹{{ grand_total }}</span></strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div id="paypal-button-container">
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    
    var amount = "{{ grand_total }}"
    var csrftoken = getCookie('csrftoken');
    var url = "{% url 'order_payment' %}"
    var orderID = "{{order.order_number}}"
    var payment_method= 'PayPal'
    var redirect_url= "{% url 'ord_complete' %}"
    console.log(orderID)
        // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
            },
        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                console.log(details);
                // Successful capture! For demo purposes:
                sendData(); 
                function sendData(){
                    fetch(url,{
                        method : "POST",
                        headers:{
                            "Content-type":"application/json",
                            "X-CSRFToken":csrftoken,
                        },
                        body:JSON.stringify({
                            orderID : orderID,
                            transID : details.id,
                            payment_method : payment_method,
                            status : details.status,
                        }),
                    })
                      .then(async function (response){
                        //.then((response) => response.json())
                        //.then((data) => {
                            const data =await response.json()
                            window.location.href = redirect_url+'?order_number='+data.order_number+'&payment_id='+data.transID;
                        });
                 
                  }
            });
            }
    }).render('#paypal-button-container');
  </script>
{% endblock %}
