{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wishlist_item in wishlist_items %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{{wishlist_item.product.image.url}}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">{{wishlist_item.product.product_name}}</a></h5>
                                        <p class="font-xs" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">{{wishlist_item.product.category.category_name}}
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span>₹{{ wishlist_item.product.price}}</span></td>
                                    {% if wishlist_item.product.stock > 0 %}
                                    <td class="text-center" data-title="Stock">
                                        
                                        <span class="color3 font-weight-bold">In Stock</span>
                                        
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <a href="{% url 'add_cart' wishlist_item.product.id %}" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>

                                    </td>
                                    {% else %}
                                        <td class="text-center" data-title="Stock">
                                            <span class="text-danger font-weight-bold">Out of stock</span>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <a href="" class="btn btn-sm btn-secondary"><i class="fi-rs-headset mr-5"></i>Contact Us</a>
                                        </td>
                                    {% endif %}
                                    <td class="action" data-title="Remove"><a href="{% url 'del_wishlist' wishlist_item.product.id %}"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}